<html>

<head>
    <title>HOD</title>
</head>

<body>
    <div>
        <h1>HOD Section</h1>
        <h2>
            Welcome
            <%=name%>
            <a href="/hod/signout" style="float:right">Signout</a>
        </h2>
    </div>
    <div>
        <table border="1px" style="width: 100%;text-align: center">
            <caption>
                <h3>Requested Forms</h3>
            </caption>
            <tr>
                <th>Reference ID</th>
                <th>Reason</th>
                <th>From Date</th>
                <th>To Date</th>
                <th>Option</th>
            </tr>
            <% forms.forEach(function(form){ %>
            <tr>
                <td>
                    <%=form.id%>
                </td>
                <td>
                    <%=form.reason%>
                </td>
                <td>
                    <%=form.from_date%>
                </td>
                <td>
                    <%=form.to_date%>
                </td>
                <td>
                    <form action="/hod/submit" method="POST">
                        <input type="hidden" name="id" value="<%=form.id%>">
                        <select name="status">
                            <option value=2>Accept</option>
                            <option value=-2>Reject</option>
                        </select>
                        <input type="submit">
                    </form>
                </td>
            </tr>
            <% }) %>
        </table>
    </div>
</body>

</html>